<h1 class="mat-h1">Dashboard</h1>

<div class="grid grid-cols-2 gap-4">
  <mat-card
    *ngFor="let card of cards; first as isFirst; last as isLast"
    [routerLink]="card.link"
    class="h-56"
    [ngClass]="{
      'col-span-2': isFirst || isLast,
      'cursor-pointer': card.link
    }"
  >
    <mat-card-header>
      <mat-card-title>
        {{ card.title }}
        <button mat-icon-button [matMenuTriggerFor]="menu" class="absolute top-1 right-2" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-center">
      <div>Card Content Here</div>
    </mat-card-content>
  </mat-card>
</div>
